html {
  overflow-y: scroll; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

img {
  border: 0;
  max-width: 100%;
  display: block; }

nav ul, nav ol {
  list-style: none;
  padding-left: 0; }

table {
  border-collapse: collapse;
  width: 100%; }

.page-width {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 58.75em) {
    .page-width {
      max-width: 940px; } }

.flyout {
  *zoom: 1; }
  .flyout:before, .flyout:after {
    content: "";
    display: table; }
  .flyout:after {
    clear: both; }

.stacked-nav a, .nav a, .tab-nav a, .flyout a, .breadcrumb a {
  display: block; }

@media only screen and (min-width: 58.75em) {
  .nav, .tab-nav, .flyout {
    overflow: hidden; }
    .nav li, .tab-nav li, .flyout li {
      float: left; } }

.tab-nav {
  display: none; }
  @media only screen and (min-width: 58.75em) {
    .tab-nav {
      display: block; } }

@media only screen and (min-width: 58.75em) {
  .flyout {
    overflow: visible; }
    .flyout li {
      position: relative; }
      .flyout li:hover > ul {
        display: block; } }
@media only screen and (min-width: 58.75em) {
  .flyout ul {
    position: absolute;
    left: 0;
    white-space: nowrap;
    display: none; }
    .flyout ul ul {
      left: 100%;
      top: 0; }
    .flyout ul li {
      float: none; } }

.breadcrumb {
  overflow: hidden; }
  .breadcrumb li {
    float: left; }

.media {
  overflow: hidden; }

.media__image {
  float: left; }

.media__image--alternate {
  float: right; }

.media__body {
  overflow: hidden; }

.media__body--alternate {
  overflow: visible; }

@media only screen and (min-width: 58.75em) {
  .tab-box {
    display: none; }
    .tab-box:target {
      display: block; }
    .tab-box .tab-heading {
      display: none; } }

.t20 {
  width: 20%; }

.t25 {
  width: 25%; }

.t33 {
  width: 33%; }

.t40 {
  width: 40%; }

.t50 {
  width: 50%; }

.t60 {
  width: 60%; }

.t75 {
  width: 75%; }

.t80 {
  width: 80%; }

body {
  color: #222222;
  background-color: white; }

a {
  color: blue; }
