html {
  font-size: 62.5%; }

html {
  overflow-y: scroll; }

body {
  margin: 0;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5; }

a:focus {
  outline: thin dotted; }

img {
  border: 0;
  max-width: 100%;
  display: block; }

nav ul, nav ol {
  list-style: none;
  padding-left: 0; }

table {
  border-collapse: collapse;
  width: 100%; }

.page-width {
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 58.75em) {
    .page-width {
      max-width: 940px; } }

.flyout {
  *zoom: 1; }
  .flyout:before, .flyout:after {
    content: "";
    display: table; }
  .flyout:after {
    clear: both; }

.stacked-nav li, .nav li, .tab-nav li, .flyout li {
  float: none; }
.stacked-nav a, .nav a, .tab-nav a, .flyout a {
  display: block; }

.tab-nav {
  display: none; }

.breadcrumb {
  overflow: hidden; }
  .breadcrumb li {
    float: left; }

.media {
  overflow: hidden; }

.media__image {
  float: left; }

.media__image--alternate {
  float: right; }

.media__body {
  overflow: hidden; }

.media__body--alternate {
  overflow: visible; }

.t20 {
  width: 20%; }

.t25 {
  width: 25%; }

.t33 {
  width: 33%; }

.t40 {
  width: 40%; }

.t50 {
  width: 50%; }

.t60 {
  width: 60%; }

.t80 {
  width: 80%; }

body {
  color: #222222;
  background-color: white; }

a {
  color: blue; }

.content div {
  background-color: red; }

.sub-content div {
  background-color: blue; }
