html {
  overflow-y: scroll; }

body {
  margin: 0;
  color: #222222;
  background-color: white; }

a {
  color: blue; }
  a:focus {
    outline: thin dotted; }

img {
  border: 0;
  max-width: 100%;
  display: block; }

nav ul, nav ol {
  list-style: none;
  padding-left: 0; }

table {
  border-collapse: collapse;
  width: 100%; }

.page-width {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 18.75em) {
    .page-width {
      max-width: 300px; } }
  @media only screen and (min-width: 37.5em) {
    .page-width {
      max-width: 600px; } }
  @media only screen and (min-width: 58.75em) {
    .page-width {
      max-width: 940px; } }

.media {
  overflow: hidden; }

.media__image {
  float: left; }

.media__image--alternate {
  float: right; }

.media__body {
  overflow: hidden; }

.media__body--alternate {
  overflow: visible; }
