// fonts, set the base font size, line-height and font-family

$base-font-size-px: 16;
$base-spacing-px: 24;
$base-font-family: sans-serif;

// grid

$gutter-width-px: 20;

// breakpoints, define as much as you need and as little as possible

@function calculate-breakpoint($px, $base: 16) {
	@return $px / $base;
}

// * baby-bear (phone landscape)
// * mama-bear (tablet portrait)
// * papa-bear (tablet landscape and above)

$breakpoint-baby-bear-px: 300;
$breakpoint-baby-bear: calculate-breakpoint($breakpoint-baby-bear-px);

$breakpoint-mama-bear-px: 600;
$breakpoint-mama-bear: calculate-breakpoint($breakpoint-mama-bear-px);

$breakpoint-papa-bear-px: 940;
$breakpoint-papa-bear: calculate-breakpoint($breakpoint-papa-bear-px);

@mixin breakpoint($width) {
	@if $width == baby-bear {
		@media only screen and (min-width: $breakpoint-baby-bear + em) { @content; }
	}
	@else if $width == mama-bear {
		@media only screen and (min-width: $breakpoint-mama-bear + em) { @content; }
	}
	@else if $width == papa-bear {
		@media only screen and (min-width: $breakpoint-papa-bear + em) { @content; }
	}
}

// imports

@import "imports/Pilot/pilot";
@import "imports/Chassis/chassis";

@import "imports/base";
@import "imports/layout";
@import "imports/module";
@import "imports/state";

// clearfix, @extend if needed

$has-clearfix: false !default;

@if not $has-clearfix {
	%clearfix {
		*zoom: 1;

		&:before,
		&:after {
			content: "";
			display: table;
		}

		&:after {
			clear: both;
		}
	}
	$has-clearfix: true;
}