$base-font-size-px: 14;
$base-spacing-px: 21;
$base-font-family: sans-serif;

$breakpoint-medium: 28.125;
$breakpoint-large: 63.125;

@mixin breakpoint($width) {
	@if $width == medium {
		@media only screen and (min-width: $breakpoint-medium + em) { @content; }
	}
	@else if $width == large {
		@media only screen and (min-width: $breakpoint-large + em) { @content; }
	}
}

$body-color: #222;
$link-color: lighten(darkred, 10%);
$secondary-color: lightgrey;

@import "pilot/pilot";

@import "imports/base";
@import "imports/layout";
@import "imports/module";
@import "imports/state";
@import "imports/theme";