// Fonts, set the base font size, line-height and font-family

$base-font-size-px: 14;
$base-spacing-px: 21;
$base-font-family: sans-serif;

// Breakpoints, define as much as you need and as little as possible

@function calculate-breakpoint($px, $base: 16) {
	@return $px / $base;
}

$breakpoint-medium-px: 280;
$breakpoint-medium: calculate-breakpoint($breakpoint-medium-px);

$breakpoint-large-px: 580;
$breakpoint-large: calculate-breakpoint($breakpoint-large-px);

$breakpoint-mega-px: 980;
$breakpoint-mega: calculate-breakpoint($breakpoint-mega-px);

@mixin breakpoint($width) {
	@if $width == medium {
		@media only screen and (min-width: $breakpoint-medium + em) { @content; }
	}
	@else if $width == large {
		@media only screen and (min-width: $breakpoint-large + em) { @content; }
	}
}

// Constants

$body-color: #222;
$body-bg: white;
$link-color: blue;

// Imports

@import "imports/pilot";
@import "imports/grid";

@import "imports/base";
@import "imports/layout";
@import "imports/module";
@import "imports/state";
@import "imports/theme";