html {
	overflow-y: scroll;
}

body {
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {

	&:focus {
		outline: thin dotted;
	}
}

img {
	border: 0;
	max-width: 100%;
	display: block;
}

h1, .alpha {

}

h2, .beta {

}

h3, .gamma {

}

h4, .delta {

}

h5, .epsilon {

}

h6, .zeta {

}

h1, h2, h3, h4, h5, h6, p, ul, ol, table {

}

ul, ol {

	nav & {
		list-style: none;
		margin-top: 0;
		padding-left: 0;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}