// only set root font-size if you really need to use a different font-size on the root element
// $root-font-size-px: 16;

// fonts, set the base font size, line-height and font-family

$base-font-color: #222;
$base-font-size-px: 16;
$base-spacing-px: 24;
$base-font-family: sans-serif;

// headings

$alpha-font-size: 30;
$alpha-line-height: 36;

$beta-font-size: 30;
$beta-line-height: 36;

$gamma-font-size: 30;
$gamma-line-height: 36;

$delta-font-size: 30;
$delta-line-height: 36;

$epsilon-font-size: 30;
$epsilon-line-height: 36;

$zeta-font-size: 30;
$zeta-line-height: 36;

// grid

$gutter-width-px: 20;
$use-clearfix: false;

// breakpoints

/*
 * baby-bear (phone landscape)
 * mama-bear (tablet portrait)
 * papa-bear (tablet landscape and above)
*/

$breakpoints: baby-bear 400, mama-bear 650, papa-bear 940;