// media object, @extend if needed

// <div class="media">
// 	<img src="" alt="" class="media__image">
// 	<div class="media__body">
// 		...
// 	</div>
// </div>

%media {
	@extend %clearfix;

	display: block;
}

%media__image {
	float: left;
}

%media__image--alternate {
	float: right;
}

%media__body {
	overflow: hidden;
}

%media__body--alternate {
	overflow: visible;
}
