$gutter-width-px: 20px;

@mixin device-type($value) {
	%#{$value}one-whole {
		width: 100%;
	}

	%#{$value}one-half {
		width: 50%;
	}

	%#{$value}one-third {
		width: percentage(1/3);
	}

	%#{$value}two-thirds {
		width: percentage(2/3);
	}

	%#{$value}one-quarter {
		width: 25%;
	}

	%#{$value}three-quarters {
		width: 75%;
	}

	%#{$value}one-fifth {
		width: 20%;
	}

	%#{$value}two-fifths {
		width: 40%;
	}

	%#{$value}three-fifths {
		width: 60%;
	}

	%#{$value}four-fifths {
		width: 80%;
	}

	%#{$value}one-sixth {
		width: percentage(1/6);
	}

	%#{$value}five-sixths {
		width: percentage(5/6);
	}

	%#{$value}one-eigth {
		width: percentage(1/8);
	}

	%#{$value}three-eigths {
		width: percentage(3/8);
	}

	%#{$value}five-eigths {
		width: percentage(5/8);
	}

	%#{$value}seven-eigths {
		width: percentage(7/8);
	}

	%#{$value}one-ninth {
		width: percentage(1/9);
	}

	%#{$value}two-ninths {
		width: percentage(2/9);
	}

	%#{$value}four-ninths {
		width: percentage(4/9);
	}

	%#{$value}five-ninths {
		width: percentage(5/9);
	}

	%#{$value}seven-ninths {
		width: percentage(7/9);
	}

	%#{$value}eight-ninths {
		width: percentage(8/9);
	}

	%#{$value}one-tenth {
		width: percentage(1/10);
	}

	%#{$value}three-tenths {
		width: percentage(3/10);
	}

	%#{$value}seven-tenths {
		width: percentage(7/10);
	}

	%#{$value}nine-tenths {
		width: percentage(9/10);
	}

	%#{$value}one-twelth {
		width: percentage(1/12);
	}

	%#{$value}five-twelths {
		width: percentage(5/12);
	}

	%#{$value}seven-twelths {
		width: percentage(7/12);
	}

	%#{$value}eleven-twelths {
		width: percentage(11/12);
	}
}

@include breakpoint(medium) {
	@include device-type(medium-);
}

@include breakpoint(large) {
	@include device-type(large-);
}

%grid {
	margin-left: -$gutter-width-px;
	overflow: hidden;
}

%grid__item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: $gutter-width-px;
	float: left;
}