// page width, defines the maximum width of the page

.page-width {
	margin: 0 auto;

	@include breakpoint(baby-bear) {
		max-width: $breakpoint-baby-bear-px + px;
	}

	@include breakpoint(mama-bear) {
		max-width: $breakpoint-mama-bear-px + px;
	}

	@include breakpoint(papa-bear) {
		max-width: $breakpoint-papa-bear-px + px;
	}
}

// clearfix, @extend if needed

%clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}