.page-width {
	margin: 0 auto;
	max-width: $page-width-px;
	overflow: hidden;
}

// Teaser boxes

%box-container {
	@include leading;
	overflow: hidden;
}

%box-container__item {
	float: left;
}

.box-2col {
	@extend %box-container;
	.box {
		@extend %box-container__item;
		width: $box-width-2col;
		& + .box {
			margin-left: $box-item-margin;
		}
	}
}

.box-3col {
	@extend %box-container;
	.box {
		@extend %box-container__item;
		width: $box-width-3col;
		& + .box {
			margin-left: $box-item-margin;
		}
	}
}

.box-4col {
	@extend %box-container;
	.box {
		@extend %box-container__item;
		width: $box-width-4col;
		& + .box {
			margin-left: $box-item-margin;
		}
	}
}

.primary {
	@include breakpoint(large) {
		width: 75%;
		float: right;
	}
}

.secondary {
	@include breakpoint(large) {
		width: 20%;
		float: left;
	}
}

%clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}