// Navigation

// <nav role="navigation">
// 	<ul class="nav">
// 		<li><a href="#"> ... </a></li>
// 		...
// 	</ul>
// </nav>

// Vertical navigation

.stacked-nav {
	a {
		display: block;
	}
}

// Horizontal navigation

.nav {
	@extend .stacked-nav;
	@include breakpoint(papa-bear) {
		overflow: hidden;
		li {
			float: left;
		}
	}
}

// Tabbed navigation

.tab-nav {
	@extend .nav;
	display: none;
	@include breakpoint(papa-bear) {
		display: block;
	}
}

// Flyout navigation with n level

.flyout {
	@extend .nav;
	@extend %clearfix;
	@include breakpoint(papa-bear) {
		overflow: visible;
		li {
			position: relative;
			&:hover > ul {
				display: block;
			}
		}
	}
	// Second level + children
	ul {
		@include breakpoint(papa-bear) {
			position: absolute;
			left: 0;
			white-space: nowrap;
			display: none;
			ul {
				left: 100%;
				top: 0;
			}
			li {
				float: none;
			}
		}
	}
}

// Breadcrumb navigation

.breadcrumb {
	@extend .stacked-nav;
	overflow: hidden;
	li {
		float: left;
	}
}

// Media object

// <div class="media">
// 	<img src="" alt="" class="media__image">
// 	<div class="media__body">
// 		...
// 	</div>
// </div>

.media {
	overflow: hidden;
}

.media__image {
	float: left;
}

.media__image--alternate {
	float: right;
}

.media__body {
	overflow: hidden;
}

.media__body--alternate {
	overflow: visible;
}

// Tab box

// <div class="tab-box" id="tab1">
// 	<h1 class="tab-heading"> ... </h1>
// 	...
// </div>

.tab-box {
	@include breakpoint(papa-bear) {
		display: none;
		&:target {
			display: block;
		}
		.tab-heading {
			display: none;
		}
	}
}

// Grid tables

// <colgroup>
// 	<col>
// 	<col class="t20">
// 	<col class="t40">
// 	<col class="t20">
// </colgroup>

.t20 {
	width: 20%;
}

.t25 {
	width: 25%;
}

.t33 {
	width: 33%;
}

.t40 {
	width: 40%;
}

.t50 {
	width: 50%;
}

.t60 {
	width: 60%;
}

.t75 {
	width: 75%;
}

.t80 {
	width: 80%;
}